@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' );



body{
  background-color: black;
  height: 100rem;

}
@media  (max-width: 430px) {
  body{
    height: 245rem;
  }



}

header{
  background-color: black;



}
.whatsapp-button{
  position: fixed;
  bottom: 30px;
  right: 40px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease;

}
.whatsapp-button:hover{
  transform: scale(1.1);

}

.whatsapp-button img{
  width: 120px;
  height: 120px;


}
@media (max-width: 430px) {
  .whatsapp-button{
  position: fixed;
  bottom: 195px;
  left: -55px;

  
  border-radius: 50%;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: right;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;



  }

.whatsapp-button img {
    width: 100px;
    height:100px;
}
}

.container-fluid {
  background-color: black;
  
  
}
.navbar-toggler{
  background-color: rgb(184, 179, 179);

}
.container {
  background-color: black;
  margin-top: 13px;
}
.barbg-body-tertiary {
  background-color: black;
}
.nav-link-important {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.nav-link-important:hover {
  color: rgb(187, 188, 188);

}
.navbar-collapse {
  margin-left: 200px;
}
.btn-outline-success {
  background-color: rgb(239, 243, 243);
  border-color: black;
  color: black;
}
.btn-outline-success:hover {
  background-color: rgb(70, 71, 71);
  border-color: black;

}

.carousel-inner{
  margin-top: -10px;
  margin-bottom:-15px;


}


.container{
  margin-top: 30px;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.img-container{
  position: relative;
  width: 300px;
  
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid white

}

.img-container .btn-outline-secondary{
  position:absolute;
  top: 50%; /* Posiciona o botão verticalmente no meio */
  left: 25%; /* Posiciona o botão horizontalmente no meio */
  border-radius: 0px;
  font-family:"Montserrat", sans-serif;  
  background-color: white;
  
}
.btn-outline-secondary:hover{
  background-color: #000;
  color: white;


}
 @media (max-width: 768px) {

    .img-container{
    position: relative;
    width: 300px;
    
  }
  
  .container{
   
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  
  }

}

.image-container {
  position: relative; /* Torna o container o ponto de referência para o posicionamento absoluto */
  width: 300px; /* Define a largura da imagem */
}
.image-container img {
  width: 100%; /* Faz com que a imagem ocupe toda a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
 
}
.img-container:hover{
  opacity: 0.4
}






.image-container .btn-overlay {
  position: absolute; /* Posiciona o botão sobre a imagem */
  top: 50%; /* Posiciona o botão verticalmente no meio */
  left: 50%; /* Posiciona o botão horizontalmente no meio */
  transform: translate(-50%, -50%); /* Centraliza o botão */
  background-color: rgba(255, 255, 255, 0.7); /* Define uma cor de fundo semi-transparente para o botão */
  color: #000; /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.container-2{
  margin-top: 100px;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.txt_config_1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: auto;
  color: white;
  font-family:  "Montserrat", sans-serif; ;
  margin-left: 100px;

}
.txt_config_2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: auto;
  color: white;
  font-family:  "Montserrat", sans-serif; ;
  margin-left: 50px;
  margin-right: 100px;

}
@media (max-width: 768px) {
  
  .container-2{
    margin-top: 20px;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  
  
  }
  .txt_config_1{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    color: white;
    font-family:  "Montserrat", sans-serif; ;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
      
  
  }
  .txt_config_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family:  "Montserrat", sans-serif; 
    margin-left: 100px;
    }
  }
.ajuste_div{
  width:100%;
  height:300px;
}
.container-3{
  position: relative;
  margin-top: 100px;
  width:100%;
  height:300px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background-color:white

}
.img-thumbnail{
  width: 300px;
  height: 300px;

}

.buttonColection{
  position: absolute;
  opacity: 0;
  border: solid white 1px;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Monterrat",sans-serif;
  border-radius: 2px
}

.buttonColection:hover{
  opacity:1;
  background-color: black;
  color: white;

}
.container-3:hover{
  opacity: 0.5;
  transition: opacity 0.5s ease;

}
@media (max-width: 768px) {

  .container-3{
    margin-top: 5px;
    height: 150px;

  }
  
  .img-thumbnail{
    width:150px;
    height:150px;


  }

  .buttonColection{
    font-size: 15px
    

}

}

@media (max-width: 768px){
  .conteudo4{
    display: flex;
    flex-direction: row;


  }
}
.img-container-2{
  position: relative;
  width: 200px;
}
.img-container-2 img{
  width: 100%;
  height: auto;
  display: block;
}

.img-container-2 .btn-outline-secondary{
  position:absolute;
  top: 60%;
  left: 19%;
  border-radius: 0px;
  font-family:"Montserrat", sans-serif;  
  background-color: white;
}
.btn-outline-secondary:hover{
  background-color: #000;
  color: white;

}
.img-container-2:hover{
  opacity: 0.4;
  transition: opacity 0.5s ease;


}


footer{
  margin-top: 250px;
  width:100%;
  height: 180px;
  background-color: black;
  border-top: 0.1px white solid;  
}
.container-footer{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.conteudo-footer1 img{
  margin-top: 30px;
  width: 230px;
  height: auto;
}
.insta-img img{
  margin-top: 15px;
  margin-left: 15px;
  width: 40px;
  height: auto;

}
.conteudo-footer1{
 width: 350px;
 height: 200px;
 align-items: center;
}
.conteudo-footer2{
  padding-top: 8px;
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  margin-left: 50px;

}
.conteudo-footer3{
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 50px;
}
.conteudo-footer4{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  border-top: 1px solid white;
  padding: 15px;
 
}
ul{  
  list-style-type: none;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: white;


}
@media  (max-width: 768px) {
  footer{
    width: 100%;
    background-color: black;
    margin-top: 500px;
    height: 400px;
  }
  .container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
  }
  .conteudo-footer1{
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
  }
  .conteudo-footer2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteudo-footer2 p{
    display: flex;
    margin-left: 35px;
    align-items: center;
  

  }

}


/*Página Serviços*/
.body-servicos{
  width: 100%;
  height:auto;
  background-color: black
}
@media  (max-width: 430px) {
  .body-servicos{
    height: 255rem;
  }



}
.titulo1{ 
  padding: 60px;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family:"Montserrat", sans-serif; 
}
.titulo2{
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}
@media  (max-width: 430px) {
  .titulo1{
    padding-top: 80px;    
  }
  .titulo2{
    margin-bottom: 20px;


  }
  
  }

.container_serviços{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.container_serviços2 img{
  width: 300px;
  height: 300px;
  opacity: 0.4;
  
}
.img-serviços:hover{
  width: 301px;
  height: 301px;
  opacity: 100;
  transition: opacity 0.5s ease;
  transform: scale(0.5/0.5)

}
.container_serviços3{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 25px;
  height: 100px;
}
.button_horario{

  padding: 15px 40px;
  border:none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
   }
   .button_horario::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
   }
   
   .button_horario::before{
    content: "";
    background: "";
    background: linear-gradient(
      45deg,
       #b6b6b6, #fffefe, #e6e5df,#c8dbc0,
       #0d0e0d,#cfd5f3,#fdfdfd,#e0d5d5 );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;

   }
   @keyframes glowing{
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
   }

   .button_horario:hover::before{
    opacity: 1;
   }
   .button_horario:active::after{
    background: transparent;

   }
   .button_horario:active{
    color: #000;


   }
   .container-fluid-servicos{
    
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: -47px;
    border-top: white 1px;
    position: relative;
    z-index: 10;


   }
   .footer-servicos{
  margin-top: 0px;
  width:100%;
  height: 180px;
  background-color: black;
  border-top: 0.1px white solid;  
   }
   @media  (max-width: 768px) {
    .footer-servicos{
      width: 100%;
      background-color: black;
      margin-top: 60px;
      height: 400px;
    }
  }
   


/* Página equipe */
.titulo-equipe {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  font-family:  "Montserrat", sans-serif; 
  margin-top: 40px;
}

.container_equipe_wander{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#img-container_equipe_wander{
  position: relative;
  width: 300px;
  border: 1px solid white;

}


.container_equipe { 
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;

}

.insta-img-wander img{
  width: 50px;
  display: flex;
  flex-direction: row-reverse;
}

.img-container_equipe .equipe_funcao{
  font-family:"Montserrat", sans-serif;  
  color: white;
}

.img-container_equipe {
  position: relative;
  width: 300px;
  border: 1px solid white;

}

.img-container_equipe img{
  width: 100%;
  height: auto;
  display: block;

}

.img-container_equipe .btn-outline-secondary{
  position: absolute;
  top: 80%; /* Posiciona o nome verticalmente no meio */
  left: 3%; /* Posiciona o nome horizontalmente no meio */
  font-family:"Montserrat", sans-serif;  
  
  
}

.btn-outline-secondary:hover{
  background-color: #000;
  color: white;

}

/* Página contato */

.container-fluid-contato{
  width: 100%;
  height: 700px;
  background-color: blueviolet; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container-contato-titulo{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -7px;
  border-top: white 1px;
  position: relative;
  z-index: 10;

  
  

}
.container-contato-titulo h1{
  color: white;
  font-family: "Montserrat", sans-serif;


}
.titulo-contato{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin-top: 25px;


}
.titulo-contato h2{
  color: white;
  font-family: "Montserrat", sans-serif;


}
.titulo-contato2 h4 {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
margin-top: 25px;


}
.titulo-contato2 p {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
  
  
  }

.container-contato iframe{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
.maps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.container-contato{

  width: 550px;
  height: 500px;
  background-color: black;
 
}
.container-contato-formulario{
  width: 550px;
  height: 500px;
  background-color: black;


}
















